/* @tailwind base; */
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.margin-left {
  width: 5vw;
}
.content-body-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 20vw;
}
.content-body-topic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 50vw;
}
.content-body-pin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 20vw;
}
.margin-right {
  width: 5vw;
}
.content-body-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30vw;
  padding: 10px;
}
.content-body-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30vw;
  padding: 10px;
}
.dashboad-header {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.topic-list-box {
  padding: 10px;
  border-radius: 5px;
  background-color: #edd1b0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.topic-item {
  padding-top: 5px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  border-bottom: solid rgb(167, 167, 167) 1px;
}
a {
  color: black;
}
a:hover {
  color: rgb(167, 167, 167);
}
.form-div:focus {
  border: none;
  border-radius: 0%;
  border-bottom: solid black 1px;
  width: 100%;
}
.form-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
input {
  border: none;
  border-radius: 0%;
  border-bottom: solid black 1px;
  width: 100%;
  background-color: #edd1b0;
}
label {
  margin-bottom: 10px;
}
.button {
  border-radius: 10px;
  width: auto;
  padding: 2px 5px;
  border: solic gray 1px;
}
input #file-upload-button {
  border-radius: 10px;
  width: auto;
  padding: 2px 5px;
}
select {
  border: none;
  border-radius: 0%;
  border-bottom: solid black 1px;
  width: 100%;
}
.topic-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.room-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.button {
  border: 1px solid black;
  background-color: white;
}
